<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- 登录界面不使用权限过滤 和403页面 -->
	<http security="none" pattern="/background/randomCode" />
	<http security="none" pattern="/background/403" />
	<http security="none" pattern="/background/timeout" />
	<http security="none" pattern="/background/login" />
	<!-- <http security="none" pattern="/background/check" /> --> <!--将url 放到这里就会失效 -->


	<!-- 不要过滤图片等静态资源，其中**代表可以跨越目录，*不可以跨越目录。 -->
	<http pattern="/**/**/*.jpg" security="none" />
	<http pattern="/**/**/*.png" security="none" />
	<http pattern="/**/**/*.gif" security="none" />
	<http pattern="/**/**/*.css" security="none" />
	<http pattern="/**/**/*.js" security="none" />

	<debug/> 	
	<http  use-expressions="true" entry-point-ref="loginEntryPoint" >
		<!-- 替换默认的LogoutFilter 原来的为:<logout logout-url="/background/loginout" logout-success-url="/background/login" invalidate-session="true" delete-cookies="JSESSIONID" /> -->
		 <custom-filter ref="logoutFilter" position="LOGOUT_FILTER" />  
		
		<!-- 替换LoginFilter -->
		<custom-filter ref="customLoginFilter" position="FORM_LOGIN_FILTER" />
	
		<!-- 定义没有权限访问页面 -->
		<!-- <access-denied-handler error-page="/background/403" /> -->

		<!-- 访问url需要的权限 isAuthenticated() permitAll -->
		<intercept-url pattern="/background/**" access="isAuthenticated()" />


		<!-- 记住我 -->
		<!-- <remember-me data-source-ref="dataSource" user-service-ref=""/> -->
		<!-- <csrf /> -->

		<!-- session管理 过期跳转页面 -->
		<!--  <session-management invalid-session-url="/background/timeout" session-fixation-protection="none" > 
		<concurrency-control    max-sessions="1" error-if-maximum-exceeded="true" session-registry-alias="sessionRegistry"/> 
		</session-management>  -->
		
	</http>

	
	<!-- ********************************认证管理器********************************************************************************************************** -->
	<!-- 认证管理 -->	
	<authentication-manager alias="authenticationManager">
		<!-- 加入开发人员自定义的Provider -->
		<authentication-provider ref="customProvider"/>
	</authentication-manager>
	
	
	<!-- 登录认证处理   作用:密码校验(/盐加密)--> 
	<beans:bean id="customProvider" class="com.saltedfish.security.custom.CustomAuthenticationProvider" >
		<!-- 不支持匿名用户登录 -->
		<beans:property name="hideUserNotFoundExceptions" value="true"/> 
		<!-- 自定义UserDetailsService -->
		<beans:property name="userDetailsService" ref="customUserDetailsService"/>
		<!-- 加密方式 --> 
		<beans:property name="passwordEncoder" ref="passwordEncoder"/>
		<!-- 配置加密盐值 -->  
		<beans:property name="saltSource" ref="saltSource"/>
	</beans:bean>
	
	<!-- 自定义UserdetailsService 作用:查询用户，以及所拥有的权限-->
	<beans:bean id="customUserDetailsService" class="com.saltedfish.security.custom.CustomUserDetailsServiceImpl"/>
	
	 <!-- 加密方式 -->  
     <beans:bean id="passwordEncoder"  
         class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />  
   
     <!-- 配置加密盐值 -->  
     <beans:bean id="saltSource"  
         class="org.springframework.security.authentication.dao.ReflectionSaltSource">  
         <!-- 加密盐为      MD5(密码{登录名})  -->
         <beans:property name="userPropertyToUse" value="username" />  
     </beans:bean>  
	<!-- ********************************授权管理********************************************************************************************************** -->

	<!-- 定义返回异常错误信息 -->
	<beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basename" value="classpath:security/messages_custom" />
	</beans:bean>

	<!-- 登录切入点 -->
	<beans:bean id="loginEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/background/login"></beans:property>
	</beans:bean>


	

<!-- ===========================================================自定义UsernamePasswordAuthenticationFilter========================================================================== -->
				<!-- 
				customLoginFilter:自定义的UsernamePasswordAuthenticationFilter.
				sessionAuthenticationStrategy:session认证策略(账号登陆(可以在相同IP登录多次,如果已经登录,则不同IP登录则不行))
				filterProcessesUrl:过滤器拦截的Url(表单提交的Url)
				authenticationManager:认证管理器(认证操作)
				usernameParameter:表单 登录账号 name属性为 username
				passwordParameter:表单登录密码 name属性为password
				authenticationSuccessHandler:认证成功跳转的Url
				authenticationFailureHandler:认证失败跳转的Url
			 	-->
<!-- ============================================================================================================================================================================= -->
	<beans:bean id="customLoginFilter" class="com.saltedfish.security.custom.CustomLoginFilter">
		<beans:property name="sessionAuthenticationStrategy" ref="sessionAuthenticationStrategy"/>
		<beans:property name="filterProcessesUrl" value="/background/check" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="usernameParameter" value="username" />
		<beans:property name="passwordParameter" value="password" />
		
		<beans:property name="authenticationSuccessHandler">
			<beans:bean class="com.saltedfish.security.custom.CustomLoginHandler">
				<beans:property name="defaultTargetUrl" value="/background/index" />
			</beans:bean>
		</beans:property>
		
		<beans:property name="authenticationFailureHandler">
			<beans:bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
				<beans:property name="defaultFailureUrl" value="/background/login?error" />
			</beans:bean>
		</beans:property>
	</beans:bean>

<!-- ********************************Session管理********************************************************************************************************** -->
	

<!-- ===========================================================自定义LogoutFilter========================================================================== -->
			 <!-- 
			 logoutFilter:logoutUrl拦截器，filterProcessesUrl:拦截器要拦截的的Url地址
			 cookieClearingLogoutHandler ：退出cookie处理者 ，删除 以JSESSIONID作为key的session
			 securityContextLogoutHandler：退出认证对象处理者  
			 Remeber Me 的 Handler 
			 PersistentTokenBasedRememberMeServices：配置了持久化属性时的handler.1.清除cookie；2.从持久化中清除remember me数据  
			 TokenBasedRememberMeServices :未配置持久化属性的handler。仅仅清除cookie 
			 -->
<!-- ===================================================================================================================================================== -->	
	<beans:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter ">
			<beans:property name="filterProcessesUrl" value="/background/loginout"/>
			<beans:constructor-arg index="0" type="java.lang.String" value="/background/login?error" />			
			<beans:constructor-arg  index="1">
				<beans:array>
					<beans:ref bean="cookieClearingLogoutHandler"/>
					<beans:ref bean="securityContextLogoutHandler"/>
				</beans:array>
			</beans:constructor-arg>
	</beans:bean>

	<!-- 退出cookie处理者 -->
	<beans:bean id="cookieClearingLogoutHandler" class="org.springframework.security.web.authentication.logout.CookieClearingLogoutHandler">
		<beans:constructor-arg>
			<beans:array>
				<beans:value>JSESSIONID</beans:value><!-- session 以JsessionId为key -->
			</beans:array>				
		</beans:constructor-arg> 
	</beans:bean>
	<!-- 退出认证对象处理者 -->
	<beans:bean id="securityContextLogoutHandler" class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>

<!-- ================================================================sessionManageMentFilter=================================================================== -->
<!-- ======================================================================================================================================================== -->
	<!-- SESSION固化保护,以及并发控制 --> 
	<beans:bean id="sessionManagementFilter" class="org.springframework.security.web.session.SessionManagementFilter">
		<beans:constructor-arg name="securityContextRepository" ref="securityContextRepository"/>
		<beans:property name="sessionAuthenticationStrategy" ref="sessionAuthenticationStrategy"/>
	</beans:bean>

	<beans:bean id="sessionRegistry" class="com.saltedfish.security.custom.session.CustomSessionRegistryImpl" /> 
	
	<!-- SESSION并发配置 -->  
	<beans:bean id="sessionAuthenticationStrategy" class="com.saltedfish.security.custom.session.CustomConcurrentSessionControlStrategy">  
		  <beans:constructor-arg name="sessionRegistry" ref="sessionRegistry" />  
		  <beans:property name="maximumSessions" value="1" />  
		  <beans:property name="exceptionIfMaximumExceeded" value="true" />  
 	</beans:bean>  

	<!-- 生成HttpSessionSecurityContextRepository -->  
    <beans:bean id="securityContextRepository"  class="org.springframework.security.web.context.HttpSessionSecurityContextRepository">  
        <beans:property name="allowSessionCreation" value="true" />  
        <beans:property name="disableUrlRewriting" value="false" />  
    </beans:bean>  


	<!-- SESSION并发处理 -->  
	<beans:bean id="concurrentSessionFilter"  class="org.springframework.security.web.session.ConcurrentSessionFilter">  
	    <beans:property name="sessionRegistry" ref="sessionRegistry" />  
	    <beans:property name="expiredUrl" value="/background/timeout" />  
	    <beans:property name="logoutHandlers">  
	        <beans:list>  
	            <beans:ref bean="cookieClearingLogoutHandler"/>
				<beans:ref bean="securityContextLogoutHandler"/>
	        </beans:list>  
	    </beans:property>  
	</beans:bean>  
</beans:beans> 