<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<!-- 具体的实现bean -->
	<bean id="demoService" class="com.unj.dubbotest.provider.impl.DemoServiceImpl" />

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="provider" />
	
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234?unicast=false" file="e:/test_2.text"/> -->
	<!-- <dubbo:registry address="192.168.168.101:9090" file="${user.home}/registryCache/provider_1.txt"/> -->
	
	<!-- 用于监控 -->
	<!-- <dubbo:monitor protocol="registry"/> -->

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	 <dubbo:registry address="zookeeper://121.42.204.193:2181" /> 

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880" />

	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service interface="com.unj.dubbotest.provider.DemoService" ref="demoService" />

</beans>